/* contains all the styling for the page */

body {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, purple, blue);
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
}

nav li.active {
  font-weight: bold;
}

.content {
  padding: 20px;
}

footer {
  text-align: center;
  background: #f0f0f0;
  padding: 10px;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  color: #007bff;
}



/* content.css */
.profile-container {
  display: flex;
  align-items: center;
}

.SelfImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 20px;
}

/* each sections styling */
section {
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(to right, purple, blue, teal);
}


.about-section {
  background-color: teal;
}
.contact-section {
  background-color: purple;
}
.resume-section {
  background-color: teal;
}
